body {
    background-color: #215C9B;
}

/* Text styles */
h1, h2, h3, h4, h5, h6 {
    font-family:'Lucida Sans', sans-serif;
    color: #fff;
}

h1 {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 12px;
    word-spacing: 50px;
}

h4 {
    margin: 0;
}

p, a, ul, ol {
    color: #fff;
}

/* Align main content with flex */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#map { 
    height: 400px; 
    width: 600px;
}

/* Credits styles */
.credits {
    text-align: right;
    position: fixed;
    bottom: 0px;
    right: 15px;
}

.credits ul {
    list-style-type: none;
}