body {
    background-color: #215C9B;
}

/* Text styles */
h1, h2, h3, h4, h5, h6 {
    font-family:'Lucida Sans', sans-serif;
    color: #fff;
}

h1 {
    font-size: 48px;
}

h4 {
    margin: 0;
}

p, a, ul, ol {
    color: #fff;
}

/* Align main content with flex */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#map { 
    height: 300px; 
    width: 300px;
}